

<div class="container-fluid text-center">    
    <div class="row content">
       

        <div class="justify-content-center col-sm-10 text-left"> 
            <br>
            <h3 style="text-align: center;"> Bus Details</h3>

            <label>Select the Bus Id to view</label>
            <select style="width: 350px;" class="form-control">

            </select>

            <form style="align-content: center; width: 350px;justify-content: center;" class="form-group col-xs-2">
                <label>Bus name</label>
                <input type="text" class="form-control" size="50" name="name" id="name" >
                <label>Total no of Seats Available</label>
                <input type="number" class="form-control" name="seat" id="seat">
                <label>Boarding Point</label>
                <input type="text" class="form-control" name="boardingPt" id="boardingPt" >
                <label>Destination Point</label>
                <input type="text" class="form-control" name="destPt" id="destPt" >
                <label>Stops</label>
                <select class="form-control" name="stop" id="stop">
                    
                </select>
                
                <label>Arrival</label>
                <input type="time" class="form-control" name="arrival" id="arrival">
                <label>Departure</label>
                <input type="time" class="form-control" name="dept" id="dept">
                <label>Travel Duration</label>
                <input type="time" class="form-control" name="duration" id="duration">
                <label>Date of Travel</label>
                <input type="date" class="form-control" name="date" id="date">
                <label>Fare (per seat)</label>
                <input type="text" class="form-control" name="fare" id="fare" >
                
                
            </form>
        </div>      
    </div>
</div>

